.contactus-container {
    background-color: #acab81;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2.5%;
}
.contactus-container > h2 {
    color: #E24E1B;
    font-family: 'Lobster', sans-serif;
    font-size: 4vw;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.contact-info-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 5%;
    color: #582b11;
}
.logo-info-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5%;
}
.contact-logo {
    font-size: 3rem;
    color: #E24E1B;
}
.logo-info-container > p {
    font-size: 1.5rem;
    font-weight: bold;
    font-family: 'Merriweather', serif;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
@media screen and (max-width: 480px) {
    .logo-info-container > p {
        font-size: 3.75vw;
    }
    .contact-logo {
        font-size: 10vw;
        color: #E24E1B;
    }
    .contactus-container > h2 {
        font-size: 10vw;
    }
}