/* @tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 47.4% 11.2%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 47.4% 11.2%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 100% 50%;
    --destructive-foreground: 210 40% 98%;

    --ring: 215 20.2% 65.1%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 224 71% 4%;
    --foreground: 213 31% 91%;

    --muted: 223 47% 11%;
    --muted-foreground: 215.4 16.3% 56.9%;

    --accent: 216 34% 17%;
    --accent-foreground: 210 40% 98%;

    --popover: 224 71% 4%;
    --popover-foreground: 215 20.2% 65.1%;

    --border: 216 34% 17%;
    --input: 216 34% 17%;

    --card: 224 71% 4%;
    --card-foreground: 213 31% 91%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 1.2%;

    --secondary: 222.2 47.4% 11.2%;
    --secondary-foreground: 210 40% 98%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 210 40% 98%;

    --ring: 216 34% 17%;

    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
} */


@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Merriweather&display=swap');

.services-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0% 2.5% 2.5% 2.5%;
    background-color: #acab81;
}
.service-info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    padding: 0%;
    margin-left: 1%;
}
.service-info-container > h2 {
    font-size: 2.75vw;
    font-family: 'Lobster', sans-serif;
    color: #E24E1B;
    margin-bottom: 0;
    text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
}
.service-info-container > p {
    font-size: 1.25vw;
    font-family: 'Merriweather', serif;
    color: #582B11;
    font-weight: bold;
    margin-bottom: 2.5%;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.service-img-container  > img{
    margin: 0%;
    transition: transform .2s;
    height: auto;
    width: 100%;
    
}
.service-img-container {
    display: grid;
    gap: 1.5%;
    grid-row: auto;
    grid-template-columns: 0.20fr 0.20fr 0.20fr;
    grid-template-rows: 1fr 1fr;
    place-items: center;
    width: 100%;
}
.carousel-container {
    width: 80%;
    margin: auto;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 15%;
    padding-bottom: 15%;
    overflow: hidden;
    position: relative;
}
.carousel-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
}
.carousel-item {
    min-width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.carousel-item div:nth-child(2) {
    margin-left: 40%;
    width: 100%;
}
.carousel-prev,
.carousel-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  background-color: #E24E1B;
  color: #582B11;
    border-color: #582B11;
  border-width: 0.25rem;
  border-radius: 25rem;
  font-size: 1.75rem;
  opacity: 0.85;
}
.carousel-prev {
    left: 10px;
}
  .carousel-next {
    right: 10px;
}
@media screen and (min-width: 741px) {
    .service-img-container > img:hover {
        transform: scale(2);
    }
    .carousel-img-container {
        display: none;
    }
    
}
@media screen and (max-width: 740px) {
    .carousel-item {
        margin-bottom: -175%;
    }
    .carousel-img-next, .carousel-img-prev {
        transform: translateY(-50%);
        cursor: pointer;
        background-color: #E24E1B;
        color: #582B11;
        border-color: #582B11;
        border-width: 0.20rem;
        border-radius: 5rem;
        font-size: 8vw;
    }

    .carousel-img-prev {
        margin-top: 15%;
        margin-left: 25%;
    }
      .carousel-img-next {
        margin-top: 15%;
        margin-left: 15%;
    }
    .carousel-img-item {
        min-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .carousel-img-item > img {
        width: 100%;
        height: 100%;
    }
    .carousel-img-wrapper {
        display: flex;
        transition: transform 0.5s ease-in-out;
    }
    .carousel-img-container {
        overflow: hidden;
        position: relative;
        width: 100%;
        margin-top: 25%;
    }
    .carousel-wrapper {
        display: block;
      }
    .service-info-container {
        align-items: center;
    }
    .service-info-container > h2 {
        font-size: 7.75vw;
    }
    .service-info-container > p {
        font-size: 4.25vw;
    }
    .service-img-container {
        display: grid;
        gap: 15%;
        grid-row: auto;
        grid-template-columns: 1fr;
        place-items: center;
        width: 100%;
    }
    .service-img-container > img:focus {
        transform: scale(2.75);
    }
    .carousel-prev,
    .carousel-next {
        display: none;
    }
    .carousel-item div:nth-child(2) {
        margin-left: 0%;
        width: 100%;
    }
}